.DS_Store
*.npy
/SUZHOU/01-Preprocessing/data/suzhoudata.csv
/SUZHOU/01-Preprocessing/data_preprocessed.csv
/SUZHOU-deployment/01-Preprocessing/data/suzhoudata.csv
/SUZHOU-deployment/01-Preprocessing/data_preprocessed.csv